html{
  font-size: 80%;
  box-sizing: border-box;
}
body{
  *{
    font-size: 1.6rem;
    font-family: SansSerif;
  }
  #root{
    height: 100vh;
    margin: 0;
  }
}

.grid-container{
  display: grid;
  grid-template-areas: "header" "main""footer";
  grid-auto-rows:5rem 1fr 5rem;
  grid-auto-columns:1fr;
  height: 100%;
  a:hover{
    color: lightseagreen;

  }
  header{
    padding: 0.5rem;
    grid-area: header;
    background-color: #203040;
    color: white;
    display: flex;
    align-items: center;
    a{
      text-decoration: none;
      color: white;
    }
  }
  main{
    grid-area: main;
  }
  footer{
    grid-area: footer;
    background-color: #203040;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .products{
    list-style-type: none;
    flex-wrap: wrap;
    .li{

      min-width: 300px;
      .product{
        height: 100% !important;
        flex-direction: column!important;
        justify-content: space-between!important;
        .card-footer{
          margin-top: auto!important;
        }
      }
    }
  }
img{
  height: 300px;
}

}
